/* --PAINT-ROOT------------------------------------ */
:root {
	--primery-text-color: #212121;
	--secondary-text-color: #757575;
	--inter-color: #2196f3;
	--background-color: #ffffff;
	--secondary-background-color: #2f303a;
	--footer-text-color: rgba(255, 255, 255, 0.6);
	--button_portfolio-color: #f5f4fa;
	--background-team-color: #f5f4fa;
}

/* --outline: 2px dashed #ff0000;-фантомная_рамка_родитель---*/
/* --outline: 2px dashed #2196f3;-фантомная_рамка----*/
/* --outline: 2px dashed #000000;-фантомная_рамка----*/
/* --outline: 2px dashed #757575;-фантомная_рамка--- */

/* --------------------BODY------------------------ */

body {
	color: #212121;
	background-color: var(--background-color);
	font-style: normal;
	font-family: "Roboto", sans-serif;
}

/* --------------убираем маркеры--------------------*/

.list {
	list-style: none;
}

/* --убираем_подчеркивание--------------------------*/

.link {
	text-decoration: none;
}

/* --скидываем_отступы_reset------------------------*/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	margin: 0;
	padding-left: 0;
}
/* --скидываем_отступы_от_изображений---------------*/

img {
	max-width: 100%;
	display: block;
}

/* --не поставил - не человек-----------------------*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Размер_конейнеров */

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	/* outline: 2px dashed #2196f3; */
}
/* Общие_оформление_текста_в_секциях */

.site-section-text {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}

/* HEADER-CONTENT */

.header-content-formation {
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ececec;
}

.header-content-flex {
	display: flex;
	align-items: center;
}

/* HEADER-LOGO */

.header-logo_blue {
	display: block;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--inter-color);
	padding-top: 24px;
	padding-bottom: 25px;
}

.logo_black {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: #000000;
	padding-top: 24px;
	padding-bottom: 25px;
}

.logo_white {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--background-color);
}

/* HEADER-NAV_MENU */

.header-nav_menu-flex {
	display: flex;
	gap: 30px;
	margin-left: 93px;
}

.header-nav_menu_link-style {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	padding: 32px 0;
	color: var(--primery-text-color);
}

.header-nav_menu-mod:hover,
.header-nav_menu-mod:focus {
	color: var(--inter-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.heder-nav_menu-mod:active {
	color: var(--secondary-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.header-nav_menu-mod.current {
	color: var(--inter-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

/* HEADER-CONTACT */

.header-contact-flex {
	display: flex;
	gap: 50px;
	margin-left: auto;
}

.header-mail_link_style {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14px;
	padding: 32px 0;
	color: var(--secondary-text-color);
	display: flex;
	align-items: center;
}

.header-tel_link_style {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14px;
	padding: 32px 0;
	color: var(--secondary-text-color);
	display: flex;
	align-items: center;
}

.header-contact-mod:hover,
.header-contact-mod:focus {
	color: var(--inter-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14px;
}

/* HEADER CONTACT ICON */

.header-contact-icon_contact_style {
	fill: currentColor;
	margin-right: 10px;
}

/* HERO-GENERAL */

.hero-content-formation {
	background-image: url(../img/toweb/hero/Hero_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	max-width: 1600px;
	background-color: var(--secondary-background-color);
	padding-top: 200px;
	padding-bottom: 200px;
}

/* HERO */

.hero-title {
	color: var(--background-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	width: 696px;
	margin: 0 auto 30px;
}

/* HERO-BUTTON */

.hero_super_button {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	border: none;
	border-radius: 4px;
	color: var(--background-color);
	background-color: var(--inter-color);
	cursor: pointer;
	letter-spacing: 0.06em;
	margin: 0 auto;
	padding: 10px 32px;
}

/* FEATURES LOGO */

.features-logo-logo_casing {
	width: 270px;
	height: 120px;
	background: #f5f4fa;
	border-radius: 4px;
	display: block;
	padding: 25px 100px;
	margin: 0 auto;
	margin-bottom: 30px;
	cursor: default;
}

/* FEATURES */

.features-section-formation {
	padding: 94px 0;
}

.features-title-fantom {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.features-content-flex {
	display: flex;
	gap: 30px;
}
.features-box-basis_calc {
	flex-basis: calc((100% - 3 * 30px) / 4);
}

.features-sub_title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	margin-bottom: 10px;
	letter-spacing: 3%;
}

/* PERFOMANCE-SECTION */

.perfomance-flex {
	display: flex;
	gap: 30px;
	margin-top: 50px;
	padding-bottom: 94px;
	background-color: var(--fon-button-color);
}

.perfomance-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: var(--primery-text-color);
}

/* TEAM-SECTION*/

.team-content-formation {
	padding-top: 94px;
	padding-bottom: 94px;
	background-color: var(--background-team-color);
}

.team_title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: var(--primery-text-color);
}

.team-content-flex {
	display: flex;
	gap: 30px;
	margin-top: 50px;
	text-align: center;
}

.team-card-sub_title-style {
	font-family: Roboto;
	font-style: medium;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 10px;
	color: var(--primery-text-color);
}

.team-card_text-style {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 16px;
	color: var(--secondary-text-color);
}

.team-card-formation {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background-color: var(--background-color);
}

.team-card-box_specification {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* TEAM-SOC-ICON */

.team-soc_icon-formation {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.team-soc_icon-svg_style {
	fill: rgba(175, 177, 184, 1);
}

.team-soc_icon-link_formation {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.team-soc_icon-link_formation:hover {
	background-color: var(--inter-color);
}

.team-soc_icon-link_formation:focus {
	background-color: var(--inter-color);
}
.team-soc_icon-link_formation:hover .team-soc_icon-svg_style {
	fill: rgba(255, 255, 255, 1);
}
.team-soc_icon-link_formation:focus .team-soc_icon-svg_style {
	fill: rgba(255, 255, 255, 1);
}

/* PORTFOLIO-SECTION */

.portfolio-section-formation {
	padding: 94px 0;
}

/* PORTFOLIO-FILTER-BUTTON */

.portfolio-content_filter-flex {
	display: flex;
	gap: 8px;
	justify-content: center;
}

.filter_super_button {
	font-family: "Roboto";
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	border: none;
	cursor: pointer;
	padding: 6px 22px;
	color: var(--background-color);
	background-color: var(--inter-color);
}

.filter_button {
	font-family: "Roboto";
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	cursor: pointer;
	border: none;
	padding: 6px 22px;
	color: var(--primery-text-color);
	background-color: var(--button_portfolio-color);
}

.filter-button-mod:hover,
.filter-button-mod:focus {
	color: var(--background-color);
	background: var(--inter-color);
}

/* PORTFOLIO-CASING-CARD*/

.portfolio-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	color: var(--primery-text-color);
}

.portfolio-title-fantom {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.portfolio-card_content-formation {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-top: 50px;
}

/* PORTFOLIO CARD */

.portfolio-card_text-formation {
	padding: 20px 24px;
	background-color: var(--background-color);
	border: 1px solid #eeeeee;
}

.portfolio-sub_title-style {
	font-family: Roboto;
	font-style: bold;
	font-size: 18px;
	font-weight: 700;
	line-height: 2;
	letter-spacing: 0.06em;
	text-align: left;
	color: var(--primery-text-color);
}

.portfolio-card_text-style {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.88;
	letter-spacing: 0.03em;
	text-align: left;
	color: var(--secondary-text-color);
}

/* PORTFOLIO CARD SHADOW ON HOVER */

.portfolio-card-shadow_hover_wrap:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* CLIENTS */

.clients-wrap {
	padding: 94px 0;
}

.clients-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

/* CLIENTS LOGO */

.clients-logo-formation {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	gap: 30px;
}

.clients-logo_casing-basis_calc {
	flex-basis: calc((100% - 5 * 30px) / 6);
}

.clients-logo-logo_casing {
	width: 170px;
	height: 92px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	padding: 16px 32px;
	display: block;
}

.clients-logo-logo_casing:hover,
.clients-logo-logo_casing:focus {
	border: 1px solid var(--inter-color);
}

.clients-logo-logo_casing:hover .clients-logo-style {
	fill: var(--inter-color);
}

.clients-logo-logo_casing:focus .clients-logo-style {
	fill: var(--inter-color);
}

.clients-logo-style {
	fill: rgba(175, 177, 184, 1);
}

/* FOOTER */

.footer-section-formation {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--secondary-background-color);
}

.footer-logo_and_address_and_connect-flex {
	display: flex;
}

/* FOOTER LOGO AND ADDRESS*/

.footer-logo_blue {
	display: block;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--inter-color);
	margin-bottom: 20px;
}

.footer-logo_and_address-wrap {
	width: 231px;
}

.footer-maps_link-style {
	font-family: "Roboto";
	font-size: 14px;
	line-height: 1.72;
	font-style: normal;
	margin-bottom: 20px;
	color: var(--background-color);
}

.footer-maps_link-formation {
	margin-bottom: 9px;
}

.footer-mail_link-style {
	font-family: "Roboto";
	font-size: 14px;
	line-height: 1.72;
	font-style: normal;
	color: var(--footer-text-color);
}

.footer-mail_link-formation {
	margin-bottom: 9px;
}

.footer-tel_link-style {
	font-family: "Roboto";
	font-size: 14px;
	line-height: 1.72;
	font-style: normal;
	color: var(--footer-text-color);
}

.footer-cont_link-mod:hover,
.footer-cont_link-mod:focus {
	color: var(--inter-color);
}

/* FOOTER CONTENT */

.footer-connect-wrap {
	margin-left: 70px;
}
.footer-logo_and_address_and_connect-flex {
	align-items: baseline;
}
/* FOOTER CONNECT SUB TITLE*/

.footer-connect-title_style {
	color: rgba(255, 255, 255, 1);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
}
/* FOOTER SOC ICON */

.footer-connect-soc_icon-formation {
	display: flex;
	gap: 10px;
	margin-top: 20px;
}

.footer-connect-soc_icon_style {
	fill: rgba(255, 255, 255, 1);
}

.footer-connect-soc_icon_decor {
	background: rgba(255, 255, 255, 0.1);
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-connect-soc_icon_decor:hover,
.footer-connect-soc_icon_decor:focus {
	background: var(--inter-color);
}

/* TEST */
/* "printWidth":"ProseWrap", */
/* "html.format.wrapAttributes": "force-aligned" */

/* {
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "proseWrap": "always",
"htmlWhitespaceSensitivity": "css"
} */

/* {
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"insertPragma": false,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"printWidth": 100,
	"proseWrap": "never",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": true,
	"singleQuote": false,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true,
	"vueIndentScriptAndStyle": false,
	"singleAttributePerLine": false,
	"html.format.wrapAttributes": "force-aligned",
	"htmlWhitespaceSensitivity": "css"
} */ ;
